<h1>Morning Consult API</h1>

<label>Enter State: </label>
<form id="form_submission">
  <input type="text" id="state" placeholder="Maryland or MD" />
  <input type="submit" value="Search">
</form>

<div id="results"></div>
