<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../public/js/script.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
