<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Optional: Bower install and use the script below instead of google's CDN -->
    <!-- <script src="../bower_components/jquery/dist/jquery.min.js"></script> -->
    <script src="../public/js/script.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
