body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h3 {
  text-decoration: underline;
}
